td {
  text-align: center;
}

.status-icon {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-right: 4px;
}

.status-container {
  display: flex;
  flex-direction: row;
  margin-right: 2px;
  align-items: center;
}
